/*Overall Page*/
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
    body
      {
        margin:0px;
        padding:0px;
        font-family: 'Noto Sans', sans-serif;
        font-size: 16px;
      }

.row::after {
	content: "";
	clear: both;
	display: block;
    width: 100%;
    }


[class*="col-"] {
    float: left;
    border:1px solid blue;
    padding: 0px;


}
.col-1 {width: 8.33%; display:none;}
.col-2 {width: 16.66%; display:none;}
.col-3 {width: 25%; display:none;}
.col-4 {width: 33.33%; display:none;}
.col-5 {width: 41.66%; display:none;}
.col-6 {width: 50%;display :none;}
.col-7 {width: 58.33%;display:none;}
.col-8 {width: 66.66%; display:none;}
.col-9 {width: 75%; display:none;}
.col-10 {width: 83.33%; display:none;}
.col-11 {width: 91.66%;display:none;}
.col-12 {width: 100%;}

    .header
      {
        border-style: solid;
        border-width: 3px;
        border-color:black;
        border-radius: 5px;
        margin:auto;
        width:95%;
        text-align: center;
        font-size: 1.3em;
        line-height: 1.4em;
        background: lightgreen;
        background: linear-gradient(to right, green , lightgreen, white);
      }

    p
      {
        color:black;
        font-size: 1.25em;
        font-weight: bold;
      }

  #content{
    margin: 0 2.5%;
  }

  .left{
    float:left;
  }

  .right{
    float:right;
  }
  .red{
    background-color:red;
    height:100px;
  }

  .yellow{
    background-color:yellow;
    height:100px;

  }

    li
      {
        list-style: none;
      }

  li a{
    text-decoration: none;
  }

  li a:hover{
    text-decoration: none;
    color:red;
  }

    .fa{
      color:black;
      padding-right: 10px;
    }

    .footer
      {
      border-style: solid;
      border-width: 2px;
      border-color:black;
      border-radius: 5px;
      margin:auto;
      width:95%;
      text-align: center;
      font-size: 0.75em;
      background: lightgreen;
      background: linear-gradient(to left, green, lightgreen , white);
      bottom:0;
      }


/*Filters*/

    .fa-filter
      {
        float:right;
      }

    #filtersiconmenu
      {
        list-style: none;
        overflow: hidden;
        float: right;
        display: inline-block;
        color:black;
      }

      #filters
      {
      border-left: 6px solid green;
      width: 100%;
      float: right;
      display:none;
      }

      .filters
      {
        color: gray;
        font-size: 1em;
        line-height: 1.4em;s

      }

/*Nutrients*/
    .fa-th, .fa-th-large
      {
        float:right;
      }

    .fa-th-large
      {
        padding-top: 4px;
      }

      #valuestodisplay{
          width: 100%;
      }

      #nutrients{
          border-left: 6px solid red;
          width: 100%;
          display:none;
      }

      .nutrients{
        color: gray;
        font-size: 1em;
        line-height: 1.4em;

      }

    .numericalvalue, .graphicalvalue{
      border-left: 6px solid blue;
      color: gray;
      margin:0px;
      padding: 0 0 0 0px;
      font-size: 1em;
      line-height: 1.4em;
    }

    .navigation>ul{
      list-style: none;
      padding: 0;
      margin: 0 0 0 15px;
      width: 30%;

    }

    .navigation>ul>h2{
      font-size: 1.25em;
      width: 30%;

    }

    .navigation>ul>li{
      font-size: .75em;
      width: 30%;

    }


/*Media Queries*/


  @media screen and (min-width:180px){


  .col-2, .col-3, .col-4, .col-6{
    display:block;
    width: 100%;
  }



  #filters{

  }

  }



  /*Ipad*/

    @media screen and (min-width:700px){

      /*General*/

      .col-2, .col-4{
        display:inline-block;
        width: 100%;
      }

      .col-3{
        width:16.6%;
        display: inline-block;
      }

      .col-6{
        display:block;
        width: 50%;
      }




        ul li{
          display:block;
        }


      /*Filters*/

        #filtersiconmenu
            {
              display: none;
            }

        #filters{
              display: inline-block;
              width: 100%;
            }

      /*Nutrient Navigation*/

    #squareiconsmenu
        {
          display: none;
        }

      #nutrients
            {
              display:inline-block;
            }

    }


    /*Full Desktop*/

      @media screen and (min-width:1100px){


              /*General*/

              .col-3{
                width:100%;
                display:inline-block;
              }

              .col-6{
                display:block;
                width: 50%;
              }

              .col-2 {width: 16.66%; }

              .col-4 {width: 33.33%; }

              .col-2, .col-4{
                display:inline-block;
              }


                ul li{
                  display:inline-block;
                  padding:0 25px;
                }


              /*Filters*/

                #filtersiconmenu
                    {
                      display: none;
                    }

                #filters{
                    width: 100%;
                    display: inline-block;
                    }

                .element{
                float: left;
                width: 300px;
                display: inline-block;
                }
              /*Nutrient Navigation*/

            #squareiconsmenu
                {
                  display: none;
                }

              #nutrients
                    {
                      display:inline-block;
                    }

            }
